$main-color: #f47121;
$primary-white: #fff;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header {
    .navbar {
        transition: .5s all;
    }
    &.header-scroll {
        .navbar {
            background-color: #6c757d !important;
        }
    }
}

.navbar {
    padding: .5rem 10% !important;

    &-brand {
        position: relative;
    }

    &-brand::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 10px;
        height: 5px;
        width: 30px;
        border-radius: 10px;
        background-color: $main-color;
    }


    #navbarCollapse {
        border-radius: 5px;

        @media screen and (max-width: 1024px) {
            background-color: #6c757d!important;
        }
    }

    .nav-link {
        @media screen and (max-width: 1024px) {
            text-align: center;
        }
    }

    .btn {
        @media screen and (max-width: 1024px) {
            text-align: center;
        }
    }

    .form-inline {
        @media screen and (max-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.nav-item {
    position: relative;
    transition: .5s all;
    outline: none !important;
    border: none !important;

    .btn {
        &:focus {
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    .nav-link {
        outline: none !important;
        border: none !important;
    }

    &:hover {
        &::after {
            @media screen and (min-width: 1024px) {
                width: 30px;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 20px;
        height: 3px;
        width: 0;
        border-radius: 10px;
        background-color: white;
        transition: .5s all;
    }
}

.page-top {
    width: 100vw;
    height: 90vh;
    background: url('./assets/images/main_image.jpg');
    background-position: 90% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
        height: 50vh;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__header {
        font-size: clamp(1rem, 3vw + 1rem, 4rem);
        position: relative;
        color: $primary-white;
        font-weight: bold;
        text-align: center;
        width: max-content;
        font-family: monospace;

        @media screen and (max-width: 1024px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.1rem;
            text-align: center;
        }
    }

    &__header::after,
    &__header::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__header::before {
        background-color: rgba($color: #ffffff, $alpha: 1);
        border-radius: 10px;
        animation: typewriter 4s steps(30) forwards;
    }

    &__header::after {
        width: .125em;
        background-color: $main-color;
        border-radius: 10px;
        animation: typewriter 4s steps(30) forwards,
            blink 500ms steps(30) infinite;
    }

    &__heading {
        color: $primary-white;
        font-weight: lighter;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease forwards;

        @media screen and (max-width: 1024px) {
            font-size: 1.2rem;
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            font-size: 1rem;
            text-align: center;
        }
    }

    @keyframes typewriter {
        to {
            left: 100%;
        }
    }

    @keyframes blink {
        to {
            background-color: transparent;
        }
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__btn {
        background-color: $main-color;
        padding: .5rem 1rem;
        border-radius: 5px;
        border: none;
        color: $primary-white;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s 2s ease forwards;
    }
}

.products {
    margin-top: 3rem;

    &__header {
        color: $main-color;
    }

    &__heading {
        &-block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 1rem 0;
        }
    }

    &__items {
        width: 90% !important;
    }

    .card {
        height: 95% !important; 

        &-img-top {
            height: 300px;

            &__box {
                position: relative;
            }

            &__badge {
                position: absolute;
                top: 10px;
                left: 10px;
                color: $primary-white;
                width: 80px;
                height: 80px;
                background-color: $main-color;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                p {
                    padding: 0;
                    margin: 0;
                }
            }

            &--2 {
                width: 90%;
                margin: 0 5%;
            }

            &--3 {
                width: 80%;
                margin: 0 10%;
            }

            &--7 {
                width: 70%;
                height: 200px;
                margin: 50px 15%;
            }

            &--8 {
                width: 80%;
                height: 280px;
                margin: 10px 10%;
            }
        }
    }
}

.how-Works {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin-bottom: 2rem; 

    .products__heading-block {
        padding: 0 20px;
        width: 90%;
    }

    .products__heading-block {
        align-items: flex-start;
    }

    &__block {
        width: 90% !important;

        .card {
            border: none;

            &-body {
                padding: 0;
            }

            &-img-top__box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            &-img-top__badge {
                background-color: $main-color;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

footer {
    height: 5rem;
    background-color: $main-color;
}